@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 15px;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.footer {
background-color: #eeeeee;
}

.footer, .header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-links, .right-links {
  display:flex;
  gap: 15px;
}

.content {
  display:flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}